<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="isSimilar.js"></script>
<script>
// Minimal test suit to allow verbatim import of Underscore's test suit for _.isEqual
var ok = console.assert.bind(console);
var equal = function(a, b, message) {
    console.assert(a == b, message);
};
var strictEqual = function(a, b, message) {
    console.assert(a === b, message);
};

var test = function(name, runTests) {
   console.info('Running test: ' + name);
   console.time('test-' + name);
   runTests();
   console.timeEnd('test-' + name);
};
</script>

<script>
var _originalIsEqual = _,isEqual;
_.isEqual = isSimilar;
</script>
<script src="test-from-underscore.js"></script>
<script>
_.isEqual = _originalIsEqual;;
</script>

<script src="test-isSimilar.js"></script>
